<h2>Comments on Article</h2>

<ul>
<% @user.friends.each do |friend| %>
  <% @friend.article.each do |article| %>
    if time_limit == true
    <li>
      <%= link_to "#{article.title}", article_path(article.id) %>
    </li>
  <% end %>
</ul>

<p> <%= link_to "New Article", new_article_path %> </p>
