<div class="welcome">
  <h4>Welcome to Klatch</h4>
  To get started, add some friends by clicking on the "Friends" link in the navigation bar.
  <br>
  <br>
  Once you have added friends, you can share links with them and see the links they've shared in your feed.
  <br>
  <br>
  To start a discussion, leave a message on a friend's link. You can view all of your active discussions in the "Discussions" section.
  <br>
  <br>
  The number of unread comments waiting for you is listed next to "Discussions" in your navigation bar.
  <br>
  <br>
  That's about it. Happy Klatch-ing!
  <button class="welcome-button">Okay</button>
</div>
