<h2>Article Feed</h2>

<ul>
<% if @user.friends.length > 0 %>
<% @user.friends.each do |friend| %>
  <% friend.article.each do |article| %>
    <li>
      <%= link_to "#{article.title}", article_path(article.id) %>
    </li>
  <% end %>
  <% end %>
</ul>

<% else %>
<p> You don't have any friends yet! </p>
<% end %>

<p> <%= link_to "New Article", new_article_path %> </p>
