/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 body {
   margin: 0px 8px;
   height: 100%;
 }

 .share-nav {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: 100px;
 }

 .no-articles {
   text-align: center;
 }

.button-container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.top-header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content:space-between;
  padding-bottom: 5%;
}

.header{
  /*top: 11%;*/
  margin: 0px 0px;
  font-size: 15px;
  text-align: left;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about {
  display:inline-block;
  width: 100px;
  color: #2f100b;
}

.sign-up{
  background-color: #e7bf98;
}

.sign-up-flex {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  font-family: 'Patua One', cursive;
}

.new_user {
  font-family: 'Lato', sans-serif;
}

.alert {
  color: red;
}

.welcome {
  text-align: center;
  border-style: solid;
  position: absolute;
  z-index: 5;
  background-color: gray;
  bottom: 20%;
  width: 90%;
  right:5%;
  left:5%;
}

.welcome-hide {
  display:none;
  text-align: center;
  border-style: solid;
  position: absolute;
  z-index: 5;
  background-color: gray;
  bottom: 20%;
  width: 90%;
  right:5%;
  left:5%;
}

.welcome.hide{
  display:none;
}

.welcome-hide.show{
  display: block;
}

.welcome-button {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.welcome-hide-button {
  display: block;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

.linkshare-heading h1{
  color: #2f100b;
}

.linkshare-heading {
  width: auto;
  /*margin-left: 8%;*/
  margin-right: 5%;
  font-family: 'Patua One';
}

.linkshare-heading p{
  font-family: 'Lato', sans-serif;
}

.sign-up-form {
  font-family: 'Lato', sans-serif;
  width:50%;
  padding-right: 15%;
  padding-left: 5%;
}


form.sign-up-form{
  font-family: 'Lato', sans-serif;
}

nav{
  text-align: center;
}

nav ul{
  display: inline-block;
}

li {list-style-type: none;
}

#feed{
  list-style-type: none;
  text-align: left;
}

#requests{
  text-align: center;
  padding: 0px;
}

.friends-heading {
  text-align: center;
}

.friends-main{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.friends-list {
  padding: 0;

}

.requests-header {
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: column-reverse;
}

.edit-field {
  display: inline;
}

textarea {
    max-width: 90%;
}

input#article_link {
  max-width: 90%;
}

textarea#article_message {
  max-width: 90%;
  position:static;
  left: 0%;
}

.submit-article {
  position: relative;
  bottom: 5%;
  width: 90px;
}

.submit{
  position: relative;
  right: 1.5%;
  bottom: 5%;
  width: 90px;
}

textarea#comment_content {
  max-width: 92.5%;
  position:relative;
  right: 1.5%;
}

textarea#comment_content.reply-feed {
  max-width: 92.5%;
  position:relative;
}

.submit-feed {
  position: relative;
}

.link-container{
  display: flex;
  flex-direction: column;
}

.message-container{
  display: flex;
  flex-direction: column;
}

.new-article-message {
}

.feed-avatar {
  display: inline;
  max-width: 38px;
}

.feed_avatar {
  max-width: 38px;
}

.feed-header {
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
}

.feed-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  justify-content: space-between;
}

.feed-heading {
  background-color: beige;
  width: auto;
}

.feed-details {
  display: inline-block;
  position: relative;
}

.feed-name {
  font-size: 13px;
}

.feed-time {
  font-size: 12px;
}

.feed-details {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  margin-left: 1%;
  width: 100%;
}

.feed-message {
  font-size: 14px;
  margin-top: 1%;
}

.feed-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 90%;
  background: #e6f2ff;
}

.feed-image {
  max-height: 250px;
  /*height: 100%;
  width: 100%;
  */
  margin-top: 2%;
}

.feed-title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
}

.wrap {
  word-wrap:break-word;
  width: 70%;
  margin-top:auto;
  margin-bottom:auto;
}

.feed-description {
  font-size: 13px;
  align-self: center;
  margin-top: 4%;
  position: relative;
}

.new_comment {
  display: flex;
  flex-direction: column;
  position: relative;
  order: 4;
  flex-basis: content;
}

.index-header {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.index-title {
  position: relative;
  display:inline-block;
}

.index-avatar-container {
  position: relative;
  display:inline-block;
}

.index-image {
  position: relative;
  display:inline-block;
  height: 35%;
  width: 35%;
}

.index-description {
  position: relative;
  display:inline-block;
  width: 40%;
  height: auto;
}

.index-edit {

  left: 35%;
}
.index-buttons {
  display: inline-flex;
  position: absolute;
  right: 25.5%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.index-delete {
  left: auto;
  right: auto;
}

.comment-details-flex {
  display: inline-block;
  width: 100%;
  margin-left: 1%;
}

.comment-image-flex {
  display: flex;
  flex-direction: column;
}

.comments-header {
  bottom: 10%;
}

.comment-container {
  display: none;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background: beige;
  width: 90%;
}

.comment-container.show {
  display: flex;
}

.reply {
  display: none;
}

.reply.show {
  display: block;
    max-width: 98%;
    position: relative;
    left: 4%;
  }
}

.comment-master-container .show{
  display: block;
}

.discussion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-more-image {
  display:inline-block;
}

.show-more-name {
  font-size: 11px;
  display: block;
}

.show-more-button {
  display: inline-block;
  margin-bottom: 2%;
}

#show-more-image.show {
  display: inline-block;
}

.new-comment {
  text-align: center;
  background-color: orange;
  background-clip: content-box;
  font-size: 12px;
  width: 40%;
  margin-right: auto;
  margin-left:auto;
  border-radius: 20%;
  display: none;
}

.comment-name {
  font-size: 13px;
  font-weight: bold;
  width: auto;
}

.comment-time {
  display: inline-block;
  font-size: 10px;
  margin-top: 2%;
  margin-right: 3%;
  width: 105%;
}
.comment-message {
  font-size: 13px;
  width: 100%;
}

.discussion-link {
  margin-top: 3%;
  text-align: center;
  font-size: 13px;
}

.share-article {
  text-align: center;
  margin-bottom: 3%;
}

.discussion-image {
  height: 25%;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}

.discussion-heading {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
}

.user-articles-flex {
  width: 50%;
}

.feed-pic {
  display: inline;
  max-height: 200px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: relative;
}


.feed-articles-flex {
  width: 50%;
}

.feed-discussion-date {
  font-size: 10px;
}
.feed-discussion-article-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  background-clip: content-box;
  background: #e6f2ff;
}

.feed-discussion-article-details {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: auto;
  padding-left: 1%;

}
.feed-discussion-image {
  display:inline-block;
}

.feed-discussion-name {
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
}

button.new {
  background-color: orange;
}

.feed-discussion {
  text-align: center;
}
.feed-discussion-title {
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  width: auto;
  text-align: center;
}

.feed-discussion-description {
  font-size: 13px;
  align-self: center;
}
.article-main {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  height: auto;
  width: 90%;
      background: #e6f2ff;
}

.discussion-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.discussion-subhead {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
