<h2>Article Feed</h2>

<ul>
<% if @user.friends.length > 0 %>
<% @user.friends.each do |friend| %>
    <li>
      <%= friend %>
      <%= link_to "Delete", id: "delete", delete_friend_path(:id=>article.id), :method => :delete %>
    </li>
  <% end %>
  <% end %>
</ul>

<% else %>
<p> You don't have any friends yet!  Go add some: link_to "Add Friends", new_article_path</p>
<% end %>
